<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">

    <style>
        .form-control {
        background-color: #f8f5f5;
        }
    </style>

    <link rel="stylesheet" href="{{asset('assets/css/fontawesome.min.css')}}">
    {% block stylesheets %}
    {% endblock %}
    <title>Symfony 4 app - REST API users</title>

</head>

<body class="text-center">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{asset('assets/js/jquery.js')}}"></script>
<script src="{{asset('assets/js/popper.js')}}"></script>
<script src="{{asset('assets/js/bootstrap.js')}}"></script>

    <div class="container-fluid">
        {% block menu %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
         <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.php">Zadanie Rekrutacyjne</a></h5>
        {% if app.user %}
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{path('admin_main_page')}}">Moje konto</a>
         </nav>
         {% endif %}
          {% if not app.user %}
        <a class="btn btn-outline-primary mr-2" href="{{path('register')}}">Zarejestruj się</a>
        <a class="btn btn-outline-primary" href="{{path('login')}}">Zaloguj się</a>
        {% endif %}
    </div>
        {% endblock %}
        {% block main %}
        {% endblock  %}
         {% block customjavascript %}
        {% endblock  %}
    </div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>